/*
Style sheet for layout styles in ViewUranus

@author: Zachary Overline
@version: 1.0
*/

#buttonFontLarge {
    -fx-font: 20px Helvetica;
    -fx-font-weight: 100;

}

#redWinFont {
    -fx-font: 50px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, crimson 0%, orangered 50%);
    -fx-stroke: darkred;
    -fx-stroke-width: 1;
}

#yellowWinFont {
    -fx-font: 50px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, goldenrod 0%, gold 50%);
    -fx-stroke: goldenrod;
    -fx-stroke-width: 1;
}

#drawOrLoseFont {
    -fx-font: 35px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, darkslateblue 0%, dodgerblue 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}